

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img_frame {                /*Ram flör bilder */
    border: solid rgba(255, 255, 255, 0.53) 4px;
    border-radius: 10px;
}

.img_shadow {            /*Skapar en skugga för bilder */
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.27), -3px -3px 25px rgba(0, 0, 0, 0.27);
}

/*navbar start */

#index_body {
    background-image: url("../img/handballarena.webp");
}

#logo {
    margin-right: 20px;
    width: 60%;
    margin-left: 7px;
}

#hem {
    margin-left: 20px;
}

#h1_besta {
    font-family: Helvetica, sans-serif;
}

nav {
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    color: #38618b;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.5);
}

a:hover {
    color: #EA484F;
}

/* navbar end*/

/* index.html: */

#hembild {
    width: 90%;
    margin: auto;
}


/* index.html end */