/* Allmänt start */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face { /* Lägger till nedladdad font */
    font-family: raleway-regular;
    src: url("../resources/raleway/static/raleway-regular.ttf");
}

.img_frame {                /*Ram för bilder */
    border: solid rgba(255, 255, 255, 0.53) 4px;
    border-radius: 10px;
}

.img_shadow {            /*Skapar en skugga för bilder */
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.27), -3px -3px 25px rgba(0, 0, 0, 0.27);
}

.text_shadow {    /* Skugga för text */
    text-shadow: 2px 2px 5px rgba(9, 8, 8, 0.39);
}

.h1 {
    font-family: Helvetica, sans-serif;
    animation: animationStart 1.5s linear 1;
}

.section_text {
    font-family: raleway-regular;
    font-size: 1em;
}

.section_link {
    font-family: raleway-regular;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

.container {    /*bakgrundsbild för hela sidan */
    background-image: url("../resources/handballarena.webp");
}

/* Allmänt end */

/*Animationer start */

/* Start: Frys body för att vänta in animationer */
@keyframes freezebody {
    0% {
        position: fixed;
    }

    99% {
        position: fixed;
    }

    100% {
        position: static;
    }
}

.index_body {
    animation: freezebody 1.5s;
}
/* End: Frys index.body för att vänta in animationer */

@keyframes animationStart { /*Animationer för titlen och bilder (intoning)*/
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move {  /* Animation rörelse */
    0%   {top: -120px; }
    100% {top: 0px;}
}

/* Animationer end */

/*navbar start */

a .logo {
    margin-right: 20px;
    width: 60%;
    margin-left: 10px;
}

.hem {
    margin-left: 20px;
}

nav {
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    color: #38618b;
    animation: move 1s;
    background-image: linear-gradient(to top, rgba(239, 239, 239, 0.95), rgb(255, 255, 255));
}

nav a {
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    color: #38618b;
    text-decoration: none;
}

a:hover {
    color: #EA484F;
}

.no_animate {       /* För att förhindra animation på de andra sidorna */
   animation: none;
}

/* navbar end*/

/* footer start */

footer {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.29), rgb(255, 255, 255));
    margin-top: 10px;
}

.back-top {
    font-size: 300%;
    font-family: "Monaco", "Lucida Console", monospace;
    color: black;
    text-decoration: none;
}

.credits {
    font-family: raleway-regular;
    text-decoration: none;
}

/* footer end */

/* index start */
.hembild {
    width: 90%;
    align-self: center;
    justify-self: center;
    animation: animationStart 1.5s linear 1;
}

.intro_text {
    font-family: raleway-regular;
    font-size: 1.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    animation: animationStart 1.5s linear 1;
}

.video {
    animation: animationStart 1.5s linear 1;
}

/* index end */

/* vad är handboll start */

.oldhandball {
    width: 75%;
    align-self: center;
    justify-self: center;
}


/* vad är handboll end */

h2 {
    font-family: Helvetica, sans-serif;
    align-self: center;
    justify-self: center;
}

/* Spela handboll start: */

.forbund {
    font-family: Arial;
    font-size: 1em;
    margin-right: 10px;
}

/* Spela handboll end */